

<!--Bottom Nav Section -->
<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h5 class="display-6 navbar-text">&copy; Copyright 2021. Goodnews Iyeteku/Centennial College All rights reserved.</h5>
</nav>
</footer>


